@model IEnumerable<App.Entities.Base.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>

@using (Html.BeginForm())
{
    <label>Buscar por Nombre</label>
    <input id="filterByName" name="filterByName"  class="form-control" value="@ViewBag.filterByName" />
    <br />
    <label>Buscar por Categoria</label>
    
    @Html.DropDownList("filterByCategoria", new SelectList(ViewBag.Categorias, "CategoriaID", "Nombre"), "Todos", new { @class = "form-control" })

    <br />
    <label>Buscar por Marca</label>

    @Html.DropDownList("filterByMarca", new SelectList(ViewBag.Marcas, "MarcaID", "Nombre"), "Todos", new { @class = "form-control" })
    <br />
    <button class="btn btn-primary btn-sm" type="button" id="btnConsultar">Buscar</button>

}

<div id="resultado">

</div> 

@section scriptsAdicionales
{
 <script type="text/javascript">
     $(document).ready(configInit);

     function configInit() {
         $("#btnConsultar").on("click", buscar);
     }

     function buscar() {
         //Funciones jquery ajax
         $.post("@Url.Action("Index2Buscar", "Producto")",
             {
                 filterByName: $("#filterByName").val(),
                 filterByCategoria: $("#filterByCategoria").val(),
                 filterByMarca: $("#filterByMarca").val()
             },
             function (response) {
                 //con .html inyectamos todo el html que llega
                 $("#resultado").html(response);
             }
         )
     }
 </script>   
}    